doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/css/style.css")
        title= `${title}`
    body 
        h1 Contacts
        .cards
            each contact in data 
                .card
                    h2.card__name #{contact.properties.firstname} #{contact.properties.lastname}
                    p.card__email #{contact.properties.email}