doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | HubSpot APIs
    body 
        h1 Hello World
            a(href="http://http://localhost:3000/contacts") Contacts 